In [2]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

In [3]:
train_data = pd.read_csv("/kaggle/input/titanic/train.csv")
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
test_data = pd.read_csv("/kaggle/input/titanic/test.csv")
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [5]:
women = train_data.loc[train_data.Sex == 'female']["Survived"]
rate_women = sum(women)/len(women)

print(rate_women)

0.7420382165605095

In [6]:
men = train_data.loc[train_data.Sex == 'male']["Survived"]
rate_men = sum(men)/len(men)

print(rate_men)

0.18890814558058924

In [7]:
for age in range(60):
    ageGreaterthanThirty = train_data.loc[train_data.Age > age]["Survived"]
    ageLessthanThirty = train_data.loc[train_data.Age < age]["Survived"]

    ageRatioGreater = sum(ageGreaterthanThirty)/len(ageGreaterthanThirty) if len(ageGreaterthanThirty) != 0 else None
    ageRatioLess = sum(ageLessthanThirty)/len(ageLessthanThirty) if len(ageLessthanThirty) != 0 else None
    print(ageRatioGreater, ageRatioLess)

0.4061624649859944 None
0.39714285714285713 1.0
0.39855072463768115 0.8571428571428571
0.39473684210526316 0.625
0.39020771513353114 0.6666666666666666
0.38656716417910447 0.675
0.3853073463268366 0.7045454545454546
0.3855421686746988 0.7021276595744681
0.38484848484848483 0.68
0.38650306748466257 0.6666666666666666
0.38769230769230767 0.6129032258064516
0.38854489164086686 0.59375
0.3875968992248062 0.5735294117647058
0.3856920684292379 0.5797101449275363
0.38461538461538464 0.5915492957746479
0.38193343898573695 0.5769230769230769
0.38273615635179153 0.5903614457831325
0.3810316139767055 0.55
0.3826086956521739 0.5398230088495575
0.3836363636363636 0.5035971223021583
0.38878504672897196 0.4817073170731707
0.3980392156862745 0.45555555555555555
0.39751552795031053 0.4264705882352941
0.3995726495726496 0.42424242424242425
0.39359267734553777 0.41700404858299595
0.4019370460048426 0.4244604316546763
0.4050632911392405 0.4119601328903654
0.3952254641909814 0.40752351097178685
0.4034090909090909 0.41839762611275966
0.40606060606060607 0.4065934065934066
0.4065573770491803 0.40625
0.40559440559440557 0.40389294403892945
0.39925373134328357 0.40654205607476634
0.398406374501992 0.4107142857142857
0.3983050847457627 0.4103671706263499
0.3824884792626728 0.4091858037578288
0.36923076923076925 0.4164989939637827
0.3776595744680851 0.41923076923076924
0.3728813559322034 0.41634980988593157
0.37423312883435583 0.4171322160148976
0.36666666666666664 0.41560798548094374
0.3732394366197183 0.41519434628975266
0.3643410852713178 0.4143356643356643
0.3709677419354839 0.4153846153846154
0.3739130434782609 0.4135593220338983
0.36893203883495146 0.41235392320534225
0.3877551020408163 0.4110929853181077
0.4157303370786517 0.4090909090909091
0.3875 0.4048
0.36486486486486486 0.4085173501577287
0.34375 0.4109375
0.3508771929824561 0.4123076923076923
0.3333333333333333 0.410958904109589
0.32 0.4117647058823529
0.30952380952380953 0.4126506024096386
0.3 0.41220238095238093
0.2857142857142857 0.41185185185185186
0.30303030303030304 0.41237113402061853
0.25 0.4111600587371512
0.2692307692307692 0.41253644314868804

In [8]:
y = train_data["Survived"]

features = ["Pclass", "Sex", "SibSp", "Parch"]
X = pd.get_dummies(train_data[features])
X_test = pd.get_dummies(test_data[features])

In [9]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
model.fit(X, y)

RandomForestClassifier(max_depth=5, random_state=1)

In [10]:
predictions = model.predict(X_test)

In [11]:
output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': predictions})

In [12]:
print (sum(output["Survived"])/len(output["Survived"]))

0.35406698564593303

In [13]:
output.to_csv('submission.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!